p#pogrubienie_wojciechowski{
    color: #8E5F15;
    font-size:39px;
}
p#pochylona_wojciechowski{
    color: #F2C36F;
    font-size:44pkt;
}
p#index_gorny_wojciechowski{
    color: #A2911F;
    font-size:1,9cm;
}
p#index_dolny_wojciechowski{
    color: #3EF5E7;
    font-size:3,3cm;
}
p#mono_wojciechowski{
    color: #22E16F;
    font-size:49px;
}
p#powiekszenie_wojciechowski{
    color: #5C41A1;
}
p#pomniejszenie_wojciechowski{
    color: #C0A53D;
}